/*Compartidos*/
.btnMain{
	text-decoration: none;
	font-family:"Optima";
	padding: 25px;
	font-weight: 600;
	font-size: 45px;
	color:#F7F9F9;
	background-color: #FF5722; /*1A5276  002E4C*/
	border-radius: 10px;
	border: 3px solid #F7F9F9;
	text-align: center;
}

.btnMain:hover{
    color: #FF5722;
    background-color: #F7F9F9;
    border: 2px solid #FF5722;
}
.bgmain{
	background: linear-gradient(to left, #00796B,#086A87);
}
.bg{
	background: linear-gradient(to left,#DBDBDB,#FBFCFC,#DBDBDB );
}

.btnJ{
	text-decoration: none;
	font-family:"Optima";
	padding: 25px;
	font-weight: 600;
	font-size: 45px;
	color:#F7F9F9;
	background: linear-gradient(to left, #00796B,#086A87);
	border-radius: 10px;
	border: 3px solid #F7F9F9;
	text-align: center;
}
.btnJ:hover{
    color:  #F7F9F9;
  	background:#FF5722 !important;
    border: 2px solid #FF5722;
}
.select{
	font-family:"Optima";
	font-size: 20px;
	background: #ffffff;
	border: 2px solid #FF5722;
}

.barratitulo{
	background: linear-gradient(to left, #00796B,#086A87);
	text-align: center;
	margin-bottom:30px;
}

/*educativo*/
.educativo-canal{
	height: 400px;
	padding: 5px;
	margin-bottom: 15px;
	text-align: justify;
}

/*editar*/
.editar-textArea{
	height: 90px;
}


/*canales*/
.canal-scroll-puntos{
	height: 380px;
	margin-bottom: 5px;
	padding-top: 15px;
	text-align: justify;
	overflow-y: scroll;
	overflow-x: hidden;
}

#titulo{
	text-align: left;
}

.btnCanal {
	text-decoration: none;
	font-family:"Optima";
	width: 200px;
	padding: 5px;
	font-weight: 90;
	font-size: 20px;
	color: #F7F9F9;
	background: linear-gradient(to left, #00796B,#086A87);
	border-radius: 6px;
	border: 2px solid #F7F9F9;
	text-align: center;

}
.btnCanal:hover{
	color:  #F7F9F9;
  	background:#FF5722 !important;
    border: 2px solid #FF5722;
}

h1{
	font-family:  "Homer Simpson UI";
	color: #F7F9F9;
	font-size: 85px;
	font-weight: bolder;
	margin-bottom: 100px;
	margin-left: 325px;
}

h2{
	font-family:  "Homer Simpson UI";
	color:#FF5722/*#1A5276*/;
	font-size: 50px;
	font-weight: bolder;
	text-align: center;
}

h3{
	font-family:  "Homer Simpson UI";
	color: #023949;
	font-size: 30px;
	font-weight: bolder;
}

h4{
	font-family:  "Homer Simpson UI";
	color: #ffffff;
	font-size: 27px;
	font-weight: bolder;
}

h6{
	font-family:  "Homer Simpson UI";
	color: #023949;
	font-size: 25px;
	font-weight: bolder;
}

/*Estilos del glosario*/
.search-icon{
    background: url("../images/search.png");
    width: 32px;
    height: 32px;
    display: block;
 }

.barraicono{
	background: linear-gradient(to left, #00796B,#086A87);
	border-radius: 25px;
	width: 260px;

}

.scroll-info{
    width: 800px;
    height: 400px;
    padding: 5px;
    margin-bottom: 30px;
    background: white;
    text-align: justify;
   overflow-y: scroll;
 }
 .btnNC{
    height: 40px;
    margin-bottom: 15px;
    background:#00796B;
    border:2px solid #00796B;
	font-size: 19px;
	color:#F7F9F9;
	font-family:"Optima";
 }
 .btnNC:hover{
	color:#F7F9F9;
    background-color: #00796B;
    border: 3px solid #FF5722;
}
.btnConcepto{
	background: #086A87;
	font-size: 19px;
	color: #F7F9F9;
	font-family:"Optima";
}
.btnConcepto:hover{
	color: #F7F9F9;
    background-color: #FF5722;
    border: 3px solid #FFffff;
}

.glosarioBtnConcepto{
	flex: 1 0 0px;
}

 #elementos{
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: space-around;
	 align-items: center;
	 align-content: flex-start;
   height: 500px;
   overflow-y: scroll;

 }
 #elementos div{
 	width: 150px;
	display:flex;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	margin-top: 5px;
	margin-bottom: 5px;
 }

 #elementos button{
 	width: 150px;
	height: 100%;
 }


#buscador{
    margin-right: 3px;
 }

#txt-form-def{
    width: 500px;
    height: 200px;
    text-align: justify;
    overflow-y: scroll;
    resize: none;
    border: 2px solid  #FF5722;
 }

#txt-form-nombre{
    width: 300px;
    border: 2px solid  #FF5722;
 }

#formulario{
    display: none;
 }
.contenedor{
    width: 600px;
    height: 500px;
    background: linear-gradient(to left,#D0D3D4,#FBFCFC,#D0D3D4);
    display: block;
 }
.fondo-formulario{
    height: 700px;
    background:#086A87;
 }
.number{
	width:100px;
	height: 30px;
}

.fondo{
	background: linear-gradient(to left, #00796B,#086A87);
}


/*Juego Modelo*/
.input-modelo-correcto{
	border-color: #00fc32 !important;
}
.input-modelo-error{
	border-color: #f70a0a !important;
}
.input-modelo{
	width:50px;
	height: 30px;
	border: 2px solid #00796B;
	border-radius: 50px;
	text-align: right;
}
.elemento-modelo-pregunta{
	width: 200px;
	height: 50px;
	border: 2px solid;
	background: #FF5722;
	border-color: #F7F9F9;
	color: #F7F9F9;
	padding: 2px 0px 2px 10px;
	margin: 10px 10px 10px 10px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.canal-scroll-modelo{
	width: 100%;
	height: 500px;
	margin-bottom: 5px;
	padding-top: 15px;
	text-align: justify;
	overflow-y: scroll;
	overflow-x: hidden;
	background: linear-gradient(to left, #00796B,#086A87);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/*educativo*/
.educativo-canal{
	height: 400px;
	padding: 5px;
	margin-bottom: 15px;
	text-align: justify;
}

/*editar*/
.editar-textArea{
	height: 90px;
}


/*canales*/
.canal-scroll-puntos{
	height: 380px;
	margin-bottom: 5px;
	padding-top: 15px;
	text-align: justify;
	overflow-y: scroll;
	overflow-x: hidden;
}

#titulo{
	margin-bottom: 30px;
	text-align: left;
}
